apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-app-deployment
  labels:
    app: user-app
  namespace: nagp-ns
spec:
  replicas: 4
  selector:
    matchLabels:
      app: user-app
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      name: user-app-pod
      labels:
        app: user-app
    spec:
      containers:
      - name: user-app-container
        image: CONTAINER_IMAGE
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "250m"
        ports:
        - containerPort: 8091
        readinessProbe:
          httpGet:
            path: /v1/user-service/actuator/health
            port: 8091
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 10
          timeoutSeconds: 5
        env:
        - name: DATASOURCE_URL
          valueFrom:
            configMapKeyRef:
              name: nagp-config-map
              key: DATASOURCE_URL
        - name: DB_SCHEMA
          valueFrom:
            configMapKeyRef:
              name: nagp-config-map
              key: DB_SCHEMA_NAME
        - name: DB_USER
          valueFrom:
            configMapKeyRef:
              name: nagp-config-map
              key: PG_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: nagp-secret
              key: PG_PASSWORD
        - name: X_API_KEY
          valueFrom:
            secretKeyRef:
              name: nagp-secret
              key: X_API_KEY
